[submodule "cybozu"]
	path = cybozu
	url = https://github.com/synerex/meeting_cybozu.git
[submodule "desknets"]
	path = desknets
	url = https://github.com/synerex/meeting_desknets.git
[submodule "selenium"]
	path = selenium
	url = https://github.com/synerex/meeting_selenium.git
